<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Add your stylesheet links here -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3pVYMJ2fGIGf2O2ff2Qh5l/yt5SjmNCX" crossorigin="anonymous">
</head>
<body>

<header>
    <h1>Welcome to the Home Page</h1>
</header>

<main>
    <p th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMMM yyyy')}"></p>
    <!-- Add your page content here -->
</main>

<footer>
    <p>© 2023 Home Page</p>
</footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-Ltrj/5j6g/OqibrD5oFzNjB5jZ2atq0HuwI+Yj2RvC" crossorigin="anonymous"></script>

</body>
</html>
